* {
    font-family: "kanit", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: white;
    padding: 40px;
    margin: 0px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li {
    margin: 0;
    /*flex-direction: column;*/
}

nav ul li a {
    text-decoration: none;
    color:black;
    font-size: 20px; 
}

a:hover {
    color: rgb(156, 120, 150, 52%);
    font-style: italic;
}

.container {
    background-color:  rgb(156, 120, 150, 52%) ;
   /* margin-top: 0;
    margin-bottom: 0;
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 150px;
    padding-bottom: 100px;
    padding-left: 60px;
    padding-right: 10px;*/
    margin: 0 200px;
    padding: 150px 60px 100px;
}

.main-section {
    display: flex;
    /*add*/
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.intro {
    text-decoration: none;
    list-style: none;
    color: black;
    text-decoration-line: none;
    text-align: left;
    margin-top: 40px;
    margin-left: 20px;
}

.tagline {
    font-style: italic;
    font-size: 1.2em;
    margin-bottom: 1em;
    color: black;
    font-weight: 400;
}


a {
    text-decoration: none;
}

/*.image-box {
padding-left: 200px;
padding-right: 100px;

}*/

.white-box {  
   max-width:40%;
   margin-right: 70px;
}

.white-box img {
  width: 100%;
  max-width: 380px;
  height: auto;
  display: block;
}

/* Base layout for desktop */
/*.main-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}*/

/* Responsive layout for screens smaller than 768px */
@media screen and (max-width: 768px) {

    .container{
      margin: 0;
      padding: 100px 20px;
    }

    .main-section {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .intro {
        /*margin-bottom: 20px;*/
        margin: 0 0 20px 0;
        text-align: center;
    }

    nav {
        padding: 20px 10px; /* Reduce nav padding */
    }

    nav ul li a {
        font-size: 16px; /* Slightly smaller font */
    }
    
    .white-box{
      max-width: 100%;
      margin: 0;
      padding: 0 20px;
    }

    .white-box img {
        max-width: 100%;
        /*max-width: 300px;
        height: auto;*/
    }
}
